@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
a{
    text-decoration: none;
}
ul {
    list-style: none;
}
/* Navbar */
.active {
    color: rgb(255, 1, 94);
    text-decoration: underline;
    font-weight: bold;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}
.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 30px;
}

header {
    width: 100vw;
    height: 100vh;
    background-image:url("./images/bg-1.jpg") ;
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.header-content {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align:center;
}
.header-content h2 {
    font-size: 4vmin;
}
.line{
    width: 150px;
    height: 4px;
    background-color: rgb(255, 1, 94);
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.btn {
    padding: 8px 15px;
    background-color: rgb(255, 1, 94);
    border-radius: 30px;
    color: whitesmoke;
}
.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}
section {
    width: 80%;
    margin: 80px auto;
}
.title {
    text-align: center;
    font-size: 4vmin;
    color: #46a0ff;
} 
.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row .col {
    width: 80%;
}
/* Responsive */

/* Mobile device */
@media only screen and (max-width:850px) {
    
    .menu-btn {
        display: block;
    }
    .navbar {
        padding: 0;
    }
    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    } 
    .nav-links {
        flex-direction: column;
        width: 100%;
        height : 100vh;
        justify-content: center;
        background: rgb(105, 105, 105);
        margin-top: -900px;
        transition: 0.5s ease;
    }
    .mobile-menu {
        margin-top: 0px;
       
        
    }
    .nav-links li {
        margin: 30px auto;
    }
}