@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Ga+Maamli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Ga+Maamli&family=Pacifico&family=Righteous&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
a{
    text-decoration: none;
}
ul {
    list-style: none;
}
/* Navbar */
.active {
    color: rgb(255, 1, 94);
    text-decoration: underline;
    font-weight: bold;
}
.logo {
    font-size: 4vmin;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}
.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 30px;
    font-size: 2vmin;
}
.links {
    text-shadow: 3px 3px 2px rgb(5, 5, 5,0.5) ;
}

header {
    width: 100vw;
    height: 100vh;
    background-image:url("./images/bg-1.jpg") ;
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.header-content {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align:center;
}
.header-content h2 {
    font-size: 4vmin;
    
        font-family: "Ga Maamli", sans-serif;
        font-weight: 400;
        font-style: normal;
      
      
}
.line{
    width: 150px;
    height: 4px;
    background-color: rgb(255, 1, 94);
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1 {
    font-size: 10vmin;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: "Ga Maamli", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.btn {
    padding: 8px 15px;
    background-color: rgb(255, 1, 94);
    border-radius: 30px;
    color: whitesmoke;
}
.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
    display: none;
}
section {
    width: 80%;
    margin: 80px auto;
}
.title {
    text-align: center;
    font-size: 4vmin;
    color: #46a0ff;
} 
.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.events h1 {
    font-size: 7vmin;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.events .row {
    margin-top: 50px;
}
h4 {
    font-size: 3vmin;
    color:#4886b9;
    margin: 20px auto;
}
p {
    color: #075c4e;
    padding: 0px 40px;
    font-family: "Edu AU VIC WA NT Pre", cursive;
    font-optical-sizing: auto;
    font-weight: 3px;
    font-style: normal;
}
.events .btn {
    margin: 30px;
}
body , html {
    overflow-x: hidden;
}
.explore {
    width: 100%;
    height: 100vh;
    background: url(./images/bg2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.explore-content {
    width: 50%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.explore-content h1 {
    font-size: 7vmin;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.explore-content .line {
    margin-bottom: 50px;
}
.explore-content p {
    color: rgb(169, 116, 232);
}
.explore-content .btn {
    margin: 40px;
}
.content-col {
    width: 40%;
}
.image-col {
    width: 60%;
}
.tours .image-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.image-gallery img {
    max-width: 300px;
    margin: 10px;
}
.content-col h1 {
    font-size: 7vmin;
    color: #4886b9;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

}
.content-col .line {
    margin-left: 65px;
}
.content-col p {
    padding: 0;
    margin: 30px auto;
}
.content-col .btn {
    margin-left: -100px;
}
.footer {
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background-color: rgb(105, 105, 105);
    text-align: center;
}
.footer p{
    color:whitesmoke;
    margin: 20px auto;
    padding: 20px auto; 
    font-family: 'Courier New', Courier, monospace;

}
/* Responsive */

/* Mobile device */
@media only screen and (max-width:850px) {
    
    .menu-btn {
        display: block;
    }
    .navbar {
        padding: 0;
    }
    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 6vmin;
    } 
    .nav-links {
        flex-direction: column;
        width: 100%;
        height : 100vh;
        justify-content: center;
        background: rgb(105, 105, 105);
        margin-top: -900px;
        transition: 0.5s ease;
    }
    .mobile-menu {
        margin-top: 0px;
       
        
    }
    .nav-links li {
        margin: 30px auto;
        font-size: 5vmin;
    }
    /*Events*/
    .row {
        flex-direction: column;
    }
    .col img {
        max-width: 90%;
    }
    .row .col {
        margin: 20px auto;
    }
    /* Explore */
    .explore-content{
        width: 100%;
    }
    .tours .col {
        width: 100%;
    }
    .image-gallery {
        justify-content:center;
        align-items: center;
    }
    .image-gallery  img {
        width: 90%;
    }
    .footer {
        padding: 10px;
        font-size:4vmin ;
        font-family: 'Courier New', Courier, monospace;
    }
}

/*Animations*/
img{
    transition: transform .3s ease;
}
img:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.btn:hover {
    background-color: whitesmoke;
    color: rgb(255, 1, 94);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
li:hover {
    color: rgb(255, 1, 94);
    cursor: pointer;
}
.active:hover {
    color: white;
    cursor: pointer;
}
.links a{
    text-decoration: none;
    color: white;
    font-weight: bold 1px;
}
.links a::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background-color:rgb(250, 250, 250,0.6);
    transition: width .3s ease;
}
.links a:hover::after {
    width: 100%;
}
.links a:hover {
    color: rgb(255, 1, 94);
    cursor: pointer;
}